  [DEFAULT]
  ConnectionType=acceptor
  ReconnectInterval=60
  SenderCompID=ACCEPTOR
  DefaultApplVerID=FIX.4.4
  LogHeartbeats=Y
  LogEventMessages=Y
;  Debug=Y
;  ResetOnLogon=Y
;  ResetOnLogout=Y
;  ResetOnDisconnect=Y

  # session definition
  [SESSION]
  # inherit ConnectionType, ReconnectInterval and SenderCompID from default
  BeginString=FIX.4.4
  TargetCompID=INITIATOR
  StartTime=00:00:00
  EndTime=00:00:00
  HeartBtInt=20
  SocketAcceptPort=9823
;  FileLogPath=./logs/acceptor/logs
;  FileStorePath=./logs/acceptor/store
;   DataDictionary=somewhere/FIX41.xml
